<div class="row">
  <div class="col-md-12">
    <h3>About Us</h3>

    <p>Once upon a time James and Hollie decided to stop paying rent and buy a house. But, then they thought "maybe we could have people pay their rent to us." So here we are, trying to convert a 120-year-old two-flat into two units, while trying to retain their sanity.</p>

    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="/assets/img/aboutus/about-us.jpg" alt="James and Hollie" />
      </div>
    </div>


    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
